BUB_MODEL=${BUB_MODEL}
BUB_API_KEY=${BUB_API_KEY}
BUB_API_BASE=${BUB_API_BASE}
BUB_API_FORMAT=${BUB_API_FORMAT}
BUB_ENABLED_CHANNELS=${BUB_ENABLED_CHANNELS}
BUB_QQ_APPID=${BUB_QQ_APPID}
BUB_QQ_SECRET=${BUB_QQ_SECRET}
BUB_QQ_RECEIVE_MODE=${BUB_QQ_RECEIVE_MODE}
BUB_TELEGRAM_TOKEN=${BUB_TELEGRAM_TOKEN}
BUB_FEISHU_APP_ID=${BUB_FEISHU_APP_ID}
BUB_FEISHU_APP_SECRET=${BUB_FEISHU_APP_SECRET}
